    
    <div  class="jumbotron">
    <h1>BLOG</h1>
    <p>Administrative Page</p>
    <p id="notice"><%= notice%></p>
    <p>
     </a>
    </p>
    </div>



<%= form_tag administrative_post_path, method: 'get' do%>
<div class="field">
   <h3 class = "text-info"> <%= label_tag "Buscar Palabra" %></h3><br>
    <%= text_field_tag :search%>
</div>
<div class="actions">
    <%= submit_tag "search" %>
</div>
<%end%>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Date</th>
      <th>Likes</th>

      
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post,:class=>"text-info" %></td>
        <td><%= post.text %></td>       
        <td><%= post.created_at.to_date %></td>
        <td><%= post.like %></td>
        <td><%= link_to 'Show', post, :class=>"btn btn-mini" %></td>
        <td><%= link_to 'Edit', edit_post_path(post), :class=>"btn btn-mini" %></td>
        <td><%= link_to 'Destroy', post, :class=>"btn btn-mini", method: :delete, data: { confirm: 'Are you sure?' } %></td>

       
        
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path,:class => "btn btn-primary" %>

<%= link_to 'Back', posts_path,:class => "btn btn-primary" %>
